/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family:Arial, Helvetica, sans-serif;
}
.wrap{
	width:80%;
	margin:0 auto;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear; 
	-o-transition:all .2s linear; 
	-ms-transition:all .2s linear;
}
.header-top{
	background:#A4DE54;
}
/*--menu--*/
.top-nav ul li {
	display: inline-block;
	float: left;
	padding: 3% 5.6666%;
}
.top-nav li.active a, .top-nav li a:hover {
	color:#000;
}
.top-nav ul li a {
	font-family: 'Roboto', sans-serif;
	color:#fff;
	display: block;
	position: relative;
	text-transform: uppercase;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	font-size:1.1em;
	position: relative;
}
.logo {
	float: left;
	margin-top: 8px;
}
.header-right{
	float: right;
}
.follow_icon li {
	float: left;
	margin-left: 1px;
}
.follow_icon li a img {
	vertical-align: middle;
}
.follow_icon li a:hover{
	opacity: 0.7;
}
.search_box {
	margin-top: -32px;
	border: 1px solid #D2D2D2;
	position: relative;
	float: right;
	margin-bottom: 20px;
}
.search_box form input[type="text"] {
	border: none;
	outline: none;
	background: none;
	font-size: 0.8125em;
	color: #ACACAC;
	width: 200px;
	padding: 6px;
	-webkit-apperance: none;
	font-family: verdana, arial, helvetica, helve, sans-serif;
}
.search_box form input[type="submit"] {
	border: none;
	cursor: pointer;
	background: url(../images/search.png) no-repeat 0px 3px;
	position: absolute;
	right: 0;
	width: 25px;
	height:25px;
	outline: none;
}
.header-bottom{
	background:#fff;
	padding:20px 0;
}
/*--content--*/
/*  GRID OF FOUR   ============================================================================= */
.col_1_of_4{
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col_1_of_4:first-child { margin-left: 0; } /* all browsers except IE6 and lower */
.span_1_of_4 {
	width:23.8%;
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap{
		width:95%;
	}
	.col_1_of_4{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_4 {
		width:94%;
		padding:3%;  
	}
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.col_1_of_4{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_4 {
		width:92%;
		padding:4%; 
	}
}
p.desc{
	text-align:center;
	margin-bottom: 20px;
	font-size: 0.8125em;
	line-height:1.6em;
	display: block;
	color:#707070;
	font-family: verdana, arial, helvetica, helve, sans-serif;
}
.btn{
	box-shadow: none;
	position: relative;
	text-decoration: underline;
	padding: 0;
	font-family :verdana, arial, helvetica, helve, sans-serif; 	 
	font-size:13px;
	color:#7CCE09;
	text-transform: uppercase;
	text-decoration:underline;
	border: none;
	letter-spacing: 0;
	text-shadow: none;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.btn:hover {
	text-decoration:none;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.more{
	text-align:center;
}
.tab-img{
	margin-bottom:20px;
}
.chair p{
	line-height: 1.8em;
	font-size:1.1em;
	color: #333;
	text-transform:uppercase;
	font-family: 'Roboto', sans-serif;
}
.chair img{
	vertical-align: top;
	margin-right: 6px;
}
.content-top{
	border-bottom: 1px solid #F0F0F0;
	margin-bottom: 3px;
	padding:3% 0;
}
.content-middle {
	width: 100%;
	background: #F6F6F6;
	padding:3% 0;
	overflow: hidden;
	border-bottom: 1px solid #F0F0F0;
	margin-bottom: 3px;
}
.middle-content {
	width: 100%;
	text-align: center;
	overflow: hidden;
}
h2 {
	color: #444;
	font-family: 'Roboto', sans-serif;
	margin: 0 0 17px 0;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size:1.1em;
}
hr.hr1 {
	margin: 0;
	border-bottom: none;
	border-top: 1px solid #D1D1D1;
	width: 550px;
	display: inline-block;
}
hr.hr2 {
	margin: 0;
	border-bottom: none;
	border-top: 1px solid #D1D1D1;
	width: 430px;
	display: inline-block;
	position: relative;
	top: -12px;
}
.middle-content p {
	text-align: center;
	margin-bottom: 20px;
	font-size: 0.8125em;
	line-height: 1.6em;
	display: block;
	color: #707070;
	font-family: verdana, arial, helvetica, helve, sans-serif;
}
/*--image-effect--*/
.homeBox {
	position: relative;
	float: left;
	display: block;
}
.homeBox .one_fourth {
	text-align: center;
	overflow: hidden;
	background-image: linear-gradient(bottom, #F3F3F3 100%, #FAFAFA 0%);
	background-image: -o-linear-gradient(bottom, #F3F3F3 100%, #FAFAFA 0%);
	background-image: -moz-linear-gradient(bottom, #F3F3F3 100%, #FAFAFA 0%);
	background-image: -webkit-linear-gradient(bottom, #F3F3F3 100%, #FAFAFA 0%);
	background-image: -ms-linear-gradient(bottom, #F3F3F3 100%, #FAFAFA 0%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(1, #F3F3F3), color-stop(0, #FAFAFA) );
	border: 1px solid #E1E1E1;
	-moz-box-shadow: 0px 1px 0px #ecebeb;
	-webkit-box-shadow: 0px 1px 0px #ecebeb;
	margin-right: 10px;
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	transition: background 0.5s linear;
}
.one_half, .one_third, .two_thirds, .one_fourth, .three_fourths, .one_fifth, .two_fifth, .three_fifths, .four_fifths {
	position: relative;
	margin: 0;
	margin-right: 3.8%;
	float: left;
}
.homeBox .one_fourth div, .homeBox .last div {
	padding: 10px;
}
.homeBox .one_fourth .boxImage {
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.boxImage img{
	display:block;
}
.homeBox .one_fourth:hover .boxImage {
	position: relative;
	-webkit-animation: moveFromTop 350ms ease;
	-moz-animation: moveFromTop 350ms ease;
	-ms-animation: moveFromTop 350ms ease;
}
.homeBox .one_fourth h2 {
	color: #4B4A4A;
	margin: 0 0 10px 0;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.homeBox .one_fourth:hover h2 {
	position: relative;
	color:#EAEAEA;
	-webkit-animation: moveFromTop 200ms ease;
	-moz-animation: moveFromTop 200ms ease;
	-ms-animation: moveFromTop 200ms ease;
}
.homeBox .one_fourth .boxDescription {
	color: #4B4A4A;
	margin: 0 0 10px 0;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.homeBox .one_fourth:hover .boxDescription {
	position: relative;
	color:#EAEAEA;
	-webkit-animation: moveFromBottom 500ms ease-in-out;
	-moz-animation: moveFromBottom 500ms ease-in-out;
	-ms-animation: moveFromBottom 500ms ease-in-out;
}
@-webkit-keyframes moveFromTop {
    from {
        top: -600px;
    }
    to {
      	top: auto;
    }
}
@-moz-keyframes moveFromTop {

    from {
        -moz-transform: translateY(-600%);
    }
    to {
        -moz-transform: translateY(0%);
    }
}
@-ms-keyframes moveFromTop {
    from {
        -ms-transform: translateY(-600%);
    }
    to {
        -ms-transform: translateY(0%);
    }
}
@-webkit-keyframes moveFromBottom {
    from {
        bottom: -400px;
    }
    to {
       	top: auto;
    }
}
@-moz-keyframes moveFromBottom {
    from {
        -moz-transform: translateY(400%);
    }
    to {
        -moz-transform: translateY(0%);
    }
}
@-ms-keyframes moveFromBottom {
    from {
        -ms-transform: translateY(400%);
    }
    to {
        -ms-transform: translateY(0%);
    }
}
/*  GRID OF TWO   ============================================================================= */
.col_1_of_2{
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col_1_of_2:first-child { margin-left: 0; }
.span_1_of_2 {
	width:49.2%;
}
.span_1_of_2  h3{
	line-height: 1.8em;
	font-size: 1.1em;
	color: #333;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
}
.span_1_of_2  p{
	font-size:0.8125em;
	padding:0.5em  0;
	color: #707070;
	line-height: 1.5em;
	font-family : verdana, arial, helvetica, helve, sans-serif; 	
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap{
		width:95%;
	}
	.col_1_of_2{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_2 {
		width:94%;
	}
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.span_2_of_2 {
		width: 100%; 
	}
	.col_1_of_2{ 
		margin: 2% 0 2% 0%;
	}
	.span_1_of_2 {
		width:92%;
		padding:4%;
	}
}
.middle-bottom{
	border-top: 1px solid #F0F0F0;
	border-bottom: 1px solid #F0F0F0;
	margin-bottom: 3px;
	padding: 3% 0 0% 0;
	background:#fff;
}
.comment a {
	color:#82BE2E;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
p > a {
	color: #7CCE09;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
p > a:hover{
	color:#333;
}
.comment span {
	margin: 0 18px;
}
p > em {
	font-style: normal;
	color:#7CCE09;
}
.list2 li {
	margin-bottom: 49px;
}
.list2 li figure {
	margin: 0;
	float: left;
	width: 45%;
	margin-right: 20px;
}
.list2 li figure img {
	width: 100%;
}
.extra-wrap h4{
	line-height: 1.8em;
	font-size:13px;
	color: #333;
	text-transform: uppercase;
	font-family: verdana, arial, helvetica, helve, sans-serif;
}
.sidebar-nav{
	padding-top:10px;
}
.sidebar-nav li {
	list-style-image: url(../images/list-arrow.png);
	margin: 0 20px 10px;
}
.sidebar-nav li a {
	font-size:0.8125em;
	color: #707070;
	vertical-align: top;
}
.sidebar-nav li a:hover {
	color:#7CCE09;
}
.middle-last{
	background: #EAEAEA;
	padding:3% 0;
	margin-bottom: 4px;
}
/*  GRID OF TWO   ============================================================================= */

.col_1_of_last{
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col_1_of_last:first-child { margin-left: 0; }
.span_1_of_last {
	width: 45.999%;
	background: #FFF;
	padding: 1.5%;
	border-left: 2px solid #A4DE54;
}
.span_1_of_last  h3{
	line-height: 1.8em;
	font-size: 1.1em;
	color: #333;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
}
.span_1_of_last  p{
	font-size:0.8125em;
	padding:0.5em  0;
	color: #707070;
	line-height: 1.5em;
	font-family : verdana, arial, helvetica, helve, sans-serif; 	
}
.content-bottom {
	border-top: 1px solid #F0F0F0;
	border-bottom: 1px solid #F0F0F0;
	margin-bottom: 3px;
	padding: 3% 0 0% 0;
	background: #FFF;
}
.list3 {
	margin: 0;
	list-style: none;
	padding-bottom: 33px;
	margin-top: -3px;
}
.list3 li {
	font-size: 12px;
	line-height: 18px;
	padding: 36px 0 27px 0;
	margin-bottom: 3px;
	border-bottom: 1px solid #E8E8E8;
	border-top: 1px solid #E8E8E8;
}
.list3 li:first-child {
	padding-top: 0;
	border-top: none;
}
.list3 li figure {
	margin: 0;
	margin-right: 20px;
	float: left;
	width: 20%;
}
.list3 li:first-child + li {
	border-bottom: none;
}
.extra-wrap1 p {
	line-height: 1.8em;
	font-size: 13px;
	color: #707070;
	padding: 0px;
	font-family: verdana, arial, helvetica, helve, sans-serif;
}
.footer-bottom {
	text-align: center;
	background: #444;
	padding: 2%;
}
.copy p {
	color: #999;
	font-size: 13px;
	font-family: verdana, arial, helvetica, helve, sans-serif;
}
.copy p a {
	color:#A4DE54;
}
.copy p a:hover {
	color:#999;
}
/*--about--*/
/*  GRID OF Content and sidebar   ============================================================================= */
.cont{
	display: block;
	float:left;
	margin: 1% 0 1% 0;
}
.lsidebar{
	display: block;
	float:left;
	margin: 1% 1.6% 1% 0;
} 	
.span_2_of_3 {
	width:69.1%;
}
.span_1_of_3 {
	width: 29.2%;
}
.span_2_of_3  h3,
.span_1_of_3  h3 {
	line-height: 1.8em;
	font-size: 1.3em;
	color: #333;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 15px;
}
.span_2_of_3 p,
.span_1_of_3  p  {
	font-size:13px;
	padding:0.5em 0;
	color: #707070;
	line-height: 1.5em;
	font-family : verdana, arial, helvetica, helve, sans-serif; 	
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px) {
	.wrap{
		width:95%;
	}
	.cont{ 
		margin: 1% 0 1% 0%;
	}
	.lsidebar{
		margin:0;
	}
	.span_2_of_3 {
		width:94%;
		padding:3%;  
	}
	.span_1_of_3 {
		width:94%;
		padding:3%; 
	}
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.cont{ 
		margin: 1% 0 1% 0%;
	}
	.lsidebar{
		margin:0;
	}
	.span_2_of_3 {
		width:92%;
		padding:4%;
	}
	.span_1_of_3 {
		width:92%;
		padding:4%;
	}
}
.header-about{
	border-bottom:1px solid #999;
}
.about-list{
	margin: 0;
	list-style: none;
	padding-top: 6px;
}
.about-list li {
	font-size: 12px;
	line-height: 18px;
	margin-bottom:20px;
}
.about-list li h3 {
	margin-bottom: 24px;
	color: #000;
	font-family: verdana, arial, helvetica, helve, sans-serif;
	margin: 0 0 5px 0;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 12px;
}
p > strong {
	font-style: normal;
	color: #444;
	font-weight: 600;
}
.about-list1{
	margin: 0;
	list-style: none;
}
.about-list1 li {
	font-size: 12px;
	line-height: 18px;
	margin-bottom:10px;
}
.about-list1 li p {
	font-style: italic;
	margin-bottom: 1px;
}
.about-list1 li a {
	font-weight: 600;
	color: #7CCE09;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.about-list1 li a:hover {
	color:#333;
}
.photos li{
	float:left;
	width: 32.9%;
	margin-right: 5px;
}
.photos li.last{
	margin-right:0px;
}
/*--services--*/
.services-grid h4 {
	line-height: 1.8em;
	font-size: 1.1em;
	color: #333;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 15px;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.services-grid p {
	font-size: 13px;
	padding: 0.5em 0;
	color: #707070;
	line-height: 1.5em;
	font-family: verdana, arial, helvetica, helve, sans-serif;
}
li.grid_1{
	margin-bottom:20px;
}
.count {
	border-radius: 500px;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	-o-border-radius: 500px;
	background-color:#7CCE09;
	width: 37px;
	height: 20px;
	text-align: center;
	color: #FFF;
	float: left;
	margin-right: 22px;
	padding-top: 17px;
	line-height: 5px;
}
.count span {
	display: block;
}
.extra_wrapper {
	overflow: hidden;	
}
.text2 a {
	margin-bottom: 7px;
	color: #3D3D3D;
	font-family: verdana, arial, helvetica, helve, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
}
.text2 a:hover {
	color:#7CCE09;
}
/*--gallery--*/
.caption{
	padding-top:10px;
}
.caption h3 {
	margin: 0 0 24px 0;
}
.caption p {
	margin: 0 0 7px 0;
}
.caption h4 {
	line-height: 1.8em;
	font-size: 1.1em;
	color: #333;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	margin-bottom:3px;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.caption p {
	font-size: 13px;
	padding: 0.5em 0;
	color: #707070;
	line-height: 1.5em;
	font-family: verdana, arial, helvetica, helve, sans-serif;
}
/*--blog--*/
.page-not-found h1 {
	font-size: 15em;
	color: #F0F0F0;
	text-align: center;
	text-shadow: 1px 1px 6px #AAA;
	-moz-text-shadow: 1px 1px 6px #aaa;
	-webkit-text-shadow: 1px 1px 6px #aaa;
	-o-text-shadow: 1px 1px 6px #aaa;
}
/*--contact--*/
/*  Contact Form  ============================================================================= */
.col{
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child{
	margin-left:0;
}	
.span_2_of_contact {
	width: 66.1%;
}
.span_1_of_contact {
	width: 29.2%;
	padding:1.5%; 
}
.span_2_of_contact  h3,
.span_1_of_contact  h3 {
	line-height: 1.8em;
	font-size: 1.3em;
	color: #333;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 15px;
}
.contact-form{
	position:relative;
	padding-bottom:30px;
}
.contact-form div{
	padding:5px 0;
}
.contact-form span{
	display:block;
	font-size:0.8125em;
	color: #707070;
	padding-bottom:5px;
	font-family :verdana, arial, helvetica, helve, sans-serif;
}
.contact-form input[type="text"],.contact-form textarea{
	padding:8px;
	display:block;
	width:98%;
	background:#fcfcfc;
	border: none;
	outline:none;
	color:#464646;
	font-size:0.8125em;
	font-family:Arial, Helvetica, sans-serif;
	box-shadow: inset 0px 0px 3px #999;
	-webkit-box-shadow: inset 0px 0px 3px #999;
	-moz-box-shadow: inset 0px 0px 3px #999;
	-o-box-shadow: inset 0px 0px 3px #999;
	-webkit-appearance:none;
}
.contact-form textarea{
	resize:none;
	height:120px;		
}
.contact-form input[type="submit"]{
	padding:7px 20px;
	color:#FFF;
	cursor:pointer;
	background:#A4DE54 url(../images/large-button-overlay.png);
	border: 1px solid #5C9E02;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.50);
	-webkit-border-radius: 5px;
    border-radius:2px;
    font-family:Arial, Helvetica, sans-serif;
    position:absolute;
    right:0;
}
.contact-form input[type="submit"]:hover{
	background-color:#333;
}
.contact-form input[type="submit"]:active{
	background-color:#333;  
}
.company_address{
	padding-top:26px;
}
.company_address p{
	font-size:0.8125em;
	color:#707070;
	font-family :verdana, arial, helvetica, helve, sans-serif;
	line-height: 1.7em;
}
.company_address p span{
	text-decoration:underline;
	color:#333;
	cursor:pointer;
}
.company_address p span:hover{
	text-decoration:none;
}
.map{
	border:1px solid #C7C7C7;
	margin-bottom:15px;
}

/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 800 PIXELS */

@media only screen and (max-width: 800px) {
	.wrap{
		width:95%;
	}
	.span_2_of_contact {
		width:94%;
		padding:3%; 
	}
	.col{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_contact {
		width:94%;
		padding:3%; 
	}
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap{
		width:95%;
	}
	.span_2_of_contact {
		width:94%;
		padding:3%; 
	}
	.col{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_contact {
		width:94%;
		padding:3%; 
	}
   
   .contact-form input[type="text"],.contact-form textarea{
		width:97%;
	}
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.span_2_of_contact {
		width:90%;
		padding:5%; 
	}
	.col { 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_contact {
		width:90%;
		padding:5%; 
	}
	.contact-form input[type="text"],.contact-form textarea{
		width:92%;
	}
}
/*--responsive design--*/
@media (max-width:1366px){
	.wrap{
		width:90%;
	}	
	.top-nav ul li {
		padding: 3% 5.5555%;
	}
}
@media (max-width:1280px){
	.wrap{
		width:90%;
	}	
	.top-nav ul li {
		padding: 3% 5.3333%;
	}
}
@media (max-width:1024px){
	.wrap{
		width:90%;
	}	
	.top-nav ul li {
		padding: 3% 4.6%;
	}
	.span_1_of_last {
		width: 45.9%;
	}
	.span_1_of_last h3 {
		font-size: 1em;
	}
	.photos li {
		width: 32.7%;
	}
	.caption h4 {
		font-size: 1em;
	}
}
@media (max-width:800px){
	.wrap{
		width:90%;
	}	
	.top-nav ul li {
		padding: 3% 3.6%;
	}
	.span_1_of_last {
		width: 45.9%;
	}
	.span_1_of_last h3 {
		font-size: 1em;
	}
	.photos li {
		width: 31.7%;
	}
	.caption h4 {
		font-size: 1em;
	}
}
@media (max-width:640px){
	.wrap{
		width:90%;
	}	
	.top-nav ul li {
		padding:4% 3.1%;
	}
	.span_1_of_last {
		width:100%;
	}
	.span_1_of_last h3 {
		font-size: 1em;
	}
	.photos li {
		width: 31.7%;
	}
	.caption h4 {
		font-size: 1em;
	}
	.top-nav ul li a {
		font-size: 1em;
	}
	.list3 {
		padding-bottom:0px;
	}
	.footer-bottom {
		padding: 20px;
	}
	.page-not-found h1 {
		font-size: 8em;
	}
}
@media (max-width:480px){
	.wrap{
		width:90%;
	}	
	.top-nav ul li {
		padding:4% 2.5%;
	}
	.span_1_of_last {
		width:100%;
	}
	.span_1_of_last h3 {
		font-size: 1em;
	}
	.photos li {
		width: 31.7%;
	}
	.caption h4 {
		font-size: 1em;
	}
	.top-nav ul li a {
		font-size:0.8125em;
	}
	.list3 {
		padding-bottom:0px;
	}
	.footer-bottom {
		padding: 20px;
	}
	.logo {
		width: 39%;
	}
	.search_box {
		margin-top: -15px;
	}
	.search_box form input[type="text"] {
		width:160px;
		padding: 4px;
	}
	.header-bottom {
		padding: 15px 0 25px;
	}
	.page-not-found h1 {
		font-size: 8em;
	}
}
@media (max-width:320px){
	.wrap{
		width:90%;
	}	
	.top-nav ul li {
		padding:4% 1.2%;
	}
	.span_1_of_last {
		width:100%;
	}
	.span_1_of_last h3 {
		font-size: 1em;
	}
	.photos li {
		width: 31.7%;
	}
	.caption h4 {
		font-size: 1em;
	}
	.top-nav ul li a {
		font-size:0.8125em;
	}
	.list3 {
		padding-bottom:0px;
	}
	.footer-bottom {
		padding: 20px;
	}
	.logo {
		width: 39%;
		margin-top:20px;
	}
	.search_box {
		margin-top:-10px;
	}
	.search_box form input[type="text"] {
		width:100px;
		padding: 4px;
	}
	.header-bottom {
		padding: 15px 0 25px;
	}
	.top-nav ul li a {
		text-transform:none;
		float:none;
	}
	.span_2_of_3 h3, .span_1_of_3 h3 {
		font-size: 1.1em;
	}
	.page-not-found h1 {
		font-size: 7em;
	}
	.span_2_of_contact h3, .span_1_of_contact h3 {
		font-size: 1.1em;
	}
}