/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{
	border-collapse:collapse;
	border-spacing:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	background: #FFF;
}
.wrap{
	width:80%;
	margin:0 auto;
}
.top-search {
	float: right;
	margin-bottom: 1%;
}
/*-----start-top-header-----*/

.top-search input[type="text"]{
	float: left;
	width: 164px;
	height: 28px;
	border: none;
	background: #fff;
	padding-left: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.top-search input[type="submit"] {
	background: #DC483A url(../images/icon-1.png) center center;
	width: 28px;
	height: 28px;
	cursor: pointer;
	-moz-transition: background 0.3s ease-out;
	-o-transition: background 0.3s ease-out;
	-webkit-transition: background 0.3s ease-out;
	transition: all 0.3s ease-out;
	border:none;
}
.top-search input[type="submit"]:hover{
	background: #282c39 url(../images/icon-1.png) center center;
}
.top-nav {
  float: right;
}
.top-nav ul li a {
  background: #000000;
  padding: 31px;
  display: block;
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  text-transform: uppercase;
  font-size: 0.875em;
 }
 .top-nav li.active> a, .top-nav li> a:hover {
  color: #FFF;
  background: #0d2162;
}
/*--header--*/
.flexy-menu{
	width: 100%;
	margin:0;
	padding: 0;
	position:relative;
	float:left;
	list-style: none;
}
.flexy-menu li {
	display: inline-block;
	margin: 0;
	float: left;
	line-height: 20px;
	position: relative;
	background: #0d2162;
	display: block;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	text-transform: uppercase;
	font-size: 0.875em;
	background-color: #0d2162;
}
.flexy-menu > li > a{
	padding: .5em 2em;
	color:#fff;
	display:block;
	font-family: 'FugazOne-Regular';
	font-size:1.4em;
}
.flexy-menu li a:hover,.flexy-menu li a.active{
  color: #FFFFFF;
  background: #1e1d1d;
}
.flexy-menu li.right{
	float: right;
}
.flexy-menu ul, .flexy-menu ul li ul{
	list-style: none;
	margin: 0;
	padding: 0;
	display: none;
	position: absolute;
	z-index: 99999;;
}
.flexy-menu ul {
  top: 82px;
  left: 0;
  background-color: #000;
  width: 100%;
  text-align: center;
}
.flexy-menu ul li ul{
	top: 0;
	left: 100%;
}
.flexy-menu ul li{
	clear:both;
	width:100%;
	border: none;
}
.flexy-menu ul li a{
	padding:10px 20px;
	width:100%;
	color:#dedede;
	font-size:13px;
	text-decoration:none;
	display:inline-block;
	float:left;
	clear:both;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-webkit-transition:color 0.2s linear, background 0.2s linear;
	-moz-transition:color 0.2s linear, background 0.2s linear;
	-o-transition:color 0.2s linear, background 0.2s linear;
	transition:color 0.2s linear, background 0.2s linear;
}
.flexy-menu > li .indicator{
display: none;
}
.thin > li > a{
	padding: 10px 22px;
}
.thin ul{
	top: 40px;
}
.thin > li .indicator{
	top: 10px;
}
.thick > li > a{
	padding: 40px 22px;
}
.thick ul{
	top: 100px;
}
.thick > li .indicator{
	top: 40px;
}
.flexy-menu i{
	line-height: 20px !important;
	margin-right: 6px;
	font-size: 18px;
	float: left;
}
.flexy-menu > li.showhide {
  display: none;
  width: 100%;
  height: 42px;
  cursor: pointer;
  color: #0d2162;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
}
.flexy-menu > li.showhide span.title {
  margin: 12px 0 0 25px;
  float: left;
  font-size: 1.3em;
}
.flexy-menu > li.showhide span.icon{
	margin:11px 20px;
	float: right;
}
.flexy-menu > li.showhide .icon em {
  margin-bottom: 4px;
  display: block;
  width: 23px;
  height: 2px;
  background: #0d2162;
}
.flexy-menu.vertical{
	width: 200px;
}
.flexy-menu.vertical li{
	width: 100%;
}
.flexy-menu.vertical li a{
	display: inline-block !important;
	width: 100%;
	padding:18px 20px 16px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.flexy-menu.vertical ul li{
	width: 100%;
}
.flexy-menu.vertical ul, .flexy-menu.vertical ul li ul{
	width: 150px;
}
.flexy-menu.vertical ul{
	top: 0;left: 100%;
}
.flexy-menu.vertical ul li ul{
	top: 0px;
}
.flexy-menu.vertical.right{
	float: right !important;
}
.flexy-menu.vertical.right ul{
	left: -150px !important;
}
.flexy-menu.vertical > li .indicator{
	top: 17px;
	right: 15px;
	font-size: 17px;
}
.flexy-menu.vertical ul > li .indicator{
	top: 18px;
	right: 15px;
}
@media only screen and (max-width: 768px){
.flexy-menu.vertical{
	width: 100%;
}
.flexy-menu li{
	display: block;
	width: 100%;
}
.flexy-menu > li > a{
	padding-top:15px;
	padding-bottom:15px;
	padding-left: 25px;
}
.flexy-menu a{
	width: 100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.flexy-menu ul, .flexy-menu ul li ul,.flexy-menu.vertical ul, .flexy-menu.vertical ul li ul{
	width: 100%;
	left: 0;
	border-left: none;
	position: static;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.flexy-menu ul li{
	border-left: none;
	border-right: none;
}
.flexy-menu ul li a,.flexy-menu.vertical ul li a{
	padding-top:10px;
	padding-bottom:10px;
}
.flexy-menu ul > li > a{
	padding-left: 40px !important;
}
.flexy-menu > li .indicator{
	top: 15px;
	right: 25px;
	font-size: 17px;
}
.flexy-menu ul > li .indicator{
	right: 24px;
}
.flexy-menu.vertical ul > li .indicator{
	top: 10px;
	right: 15px;
}
.flexy-menu > li > ul > li > a{
	padding-left: 40px !important;
}
.flexy-menu > li > ul > li > ul > li > a{
	padding-left: 60px !important;
}
.flexy-menu > li > ul > li > ul > li > ul > li > a{
	padding-left: 80px !important;
}
}
.main-header {
	background-color: #000;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #666;
}
.container{
	position:relative;
}
.about_grid{
	position: absolute;
    top: -350px;
    width: 100%;
}
.top-header {
	position: absolute;
	margin-top: -490px;
    width: 100%;
}
/*----start-content----*/
.top-grid{
	float:left;
	width:33.33%;
}
.top-grid img{
	display:block;
}
.top-grid a{
	color: #FFF;
	background: url(../images/icon1.png) no-repeat 100% -0% #4a5d9f;
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.875em;
	display: block;
	moz-transition: background 0.3s ease-out;
	-o-transition: background 0.3s ease-out;
	-webkit-transition: background 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.top-grid a:hover{
	background: url(../images/icon1h.png) no-repeat 100% -0% #24387c;
}
#last-grid{
	margin:0;
}
#last-grid1{
	margin-right:0;
}
.top-grid{
	width: 31.33%;
	margin-right: 2%;
	border: 1px solid rgba(238, 238, 238, 0.28);
	padding: 5px 0 0 0;
	background: rgba(255, 255, 255, 0.53);
	-webkit-box-shadow: 0px 56px 36px -60px #0d2162;
	-moz-box-shadow: 0px 56px 36px -60px #0d2162;
	-o-box-shadow: 0px 56px 36px -60px #0d2162;
}
.top-grid h3{
	color: #DC483A;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	text-transform: uppercase;
	padding: 7px 10px;
}
.top_grids-box {
	position:relative;	
}
.top-grids{
	position:relative;	
	top: -50px;
}
/*---start-mid-grid----*/
.mid-grids{
	border: 1px dashed rgba(0, 0, 0, 0.06);
	border-right: none;
	border-left: none;
	margin-top: .5em;
	margin-right: 0;
	margin-bottom: 2em;
	margin-left: 0;
	padding-top: .5em;
	padding-right: 0;
	padding-bottom: 1em;
	padding-left: 0;
}
.mid-grid{
	float: left;
	width: 31.33%;
	margin: 0 2% 0 0%;
}
.mid-grid h3{
	color:#303030;
	font-size:1.5em;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}
.mid-grid span{
	font-family: Arial, sans-serif;
	color: #DC483A;
	font-size: 0.875em;
	display: block;
	padding: 1em 0;
	line-height:1.5em;
}
.mid-grid p{
	font-family: Arial, sans-serif;
	color:#333;
	font-size:0.875em;
	display: block;
	padding:.5em 0;
	line-height:1.5em;
}
.button{
	color: #FFF;
	background: url(../images/icon1.png) no-repeat 100% -0% #0d2162;
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.875em;
	display: block;
	moz-transition: background 0.3s ease-out;
	-o-transition: background 0.3s ease-out;
	-webkit-transition: background 0.3s ease-out;
	transition: all 0.3s ease-out;
	width: 30%;
}
.button:hover{
	background: url(../images/icon1h.png) no-repeat 100% -0% #3f5396;
}
.mid-grid ul li{
	display:block;
	border-bottom: 1px dashed #C7C7C7;
	padding: 1.3px 0;
}
.mid-grid ul li a{
	font-family: Arial, sans-serif;
	color: #777;
	font-size: 0.875em;
	display: block;
	padding:0.5em 0;
	-moz-transition: background 0.3s ease-out;
	-o-transition: background 0.3s ease-out;
	-webkit-transition: background 0.3s ease-out;
	transition: all 0.3s ease-out;
	display:inline-block;
}
.mid-grid ul li a:hover{
	color:#333;
}
.mid-grid ul li:before{
	content:url(../images/icon3.png);
	padding-right:5px;
}
.mid-grid ul {
	margin-bottom:1.3em;
}
.latest-news-pic{
	float:left;
	width:20%;
}
.latest-news-info{
	float:right;
	width:76%;
}
.latest-news-info a{
	font-family: Arial, sans-serif;
	color: #102262;
	font-size: 0.875em;
	display: block;
	line-height: 1.5em;
	-moz-transition: background 0.3s ease-out;
	-o-transition: background 0.3s ease-out;
	-webkit-transition: background 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.latest-news-info a:hover{
	color:#777;
}
/*---start-bottom-grid-videos-----*/
.bottom-grid-videos{
	float:left;
	width:100%;
}
.bottom-grid-videos h3{
	color: #303030;
	font-size: 1.5em;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	margin: 0 0 1em 0;
}
.video-grid{
	float:left;
	width:30%;
	margin-right:2%;
}
.video-grid img{
	display:block;
}
.video-grid p{
	font-family: Arial, sans-serif;
	color: #777;
	font-size: 0.875em;
	display: block;
	padding: 1em 0;
	line-height: 1.5em;
}
.tips{
	float:right;
	width:33%;
}
.tips h3{
	color: #0d2162;
	font-size: 1.5em;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	margin: 0 0 1em 0;
}
/*-----*/
.menu_container {
 	margin-top: 5%;
 	font-family: 'Open Sans', sans-serif;
}
.menu_head {
	background: #0d2162;
    color: white;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
	margin: 0 0 1px 0;
    padding: 7px 11px;
    font-family: 'Open Sans', sans-serif;
}
.menu_body {
	background: #fff;
}
.menu_body p{
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
	color: rgb(155, 155, 155);
	line-height: 1.8em;
	margin-bottom: 10px;
	padding:10px;
}
.plusminus{
	float:right;
	color: #24387c;
}
/*---start-footer-----*/
.footer{
	padding: 1em 0;
	background: #303030;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	position: relative;
	margin-top: 4em;
}
.footer p{
	color:#FFF;
	font-size: 0.875em;
}
.footer p a{
	color:#DC483A;
}
.footer p a:hover{
	color:#FFF;
}
/*** move top **/
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
  width: 48px;
  height: 48px;
  border: none;
  text-indent: 100%;
  background: url(../images/top-icon.png) no-repeat;
}
/*---start-about----*/
.banner{
	z-index: 
}

.about-left{
	width:70%;
	float:left;
}
.about-left span{
	font-family: Arial, sans-serif;
	color: #DC483A;
	font-size: 0.9em;
	display: block;
	padding: 1em 0 0 0;
	line-height:1.8em;
}
.about-left h2{
	color: #303030;
	font-size: 1.5em;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}
.about-left p{
	font-family: Arial, sans-serif;
	color: #333;
	font-size: 0.875em;
	display: block;
	padding: 1em 0;
	line-height: 1.8em;
	border-bottom: 1px dashed rgba(0, 0, 0, 0.06);
}
.about {
	margin-top:70px;
}
/*----about-histore----*/
.about-histore{
	border-bottom: 1px dashed rgba(0, 0, 0, 0.06);
}
.about-histore h3{
	font-family: 'Open Sans', sans-serif;
	padding: 15px 0px 15px 0px;
	margin-bottom: 13px;
	color: #0d2162;
	font-size: 1.5em;
	text-transform: uppercase;
}
.about-histore ul li span{
	color: #777;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	padding: 10px 20px;
	margin-bottom: 13px;
	float: left;
	background: #EEE;
}
.about-histore ul li p{
	font-size: 0.8125em;
	color: #777;
	line-height: 1.5em;
	font-family: Arial, sans-serif;
	padding: 0px 0px 20px 0px;
	float: right;
	width: 91%;
	border:none;
}
.about-histore ul li p label{
	color:#DC483A;
	display:block;
}
.about-sidebar{
	float:right;
	width:28%;
}
.about-sidebar h3{
	font-family: 'Open Sans', sans-serif;
	padding: 15px 0px 15px 0px;
	margin-bottom: 13px;
	color: #303030;
	font-size: 1.5em;
	text-transform: uppercase;
}
.about-sidebar ul li a{
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size:0.875em;
	color: #777;
	padding: 2px 0px 5px 0px;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.about-sidebar ul li a:hover{
	color: #333;
	font-size: 0.875em;
}
.about-sidebar ul li {
	border-bottom: 1px dashed rgba(192, 192, 192, 0.33);
	background: url(../images/marker.png) 0 19px no-repeat;
	padding: 9px 10px 8px 18px;
}
.about-sidebar ul li:hover{
	background: url(../images/marker1.png) 0 19px no-repeat;
}
/*---cooking-tips------*/
.ctips {
	margin-top:70px;
}
.tips-left{
	width: 48%;
	float: left;
	padding-right: 2%;
}
.tips-left-grid h3{
	font-family: 'Open Sans', sans-serif;
	padding: 15px 0px 0px 0px;
	color: #303030;
	font-size: 1.5em;
	text-transform: uppercase;
}
.tips-left-grid p{
	font-family: Arial, sans-serif;
	color: #777;
	font-size: 0.875em;
	display: block;
	padding: 1em 0;
	line-height: 1.5em;
}
.tips-left-grid span{
	font-family: Arial, sans-serif;
	color: #DC483A;
	font-size: 0.875em;
	display: block;
	line-height: 1.5em;
}
.tips-right{
	float:right;
	width:50%
}
.tips-right h3{
	font-family: 'Open Sans', sans-serif;
	padding: 15px 0px 0px 0px;
	color: #303030;
	font-size: 1.5em;
	text-transform: uppercase;
}
.tips-right li,.tips-right p{
	font-family: Arial, sans-serif;
	color: #777;
	font-size: 0.875em;
	display: block;
	padding: 1em 0;
	line-height: 1.5em;
}
.tips-right li:before{
	content:url(../images/icon3.png);
	padding-right:10px;
}
.tips-right li{
	padding:0.5em 0;
}
.cooking-eq h3{
	color: #303030;
	font-size: 1.5em;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}
.eq-grid{
	float:left;
	width:31.33%;
	margin-right:2%;
}
.eq-grid span{
	font-family: Arial, sans-serif;
	color: #DC483A;
	font-size: 0.875em;
	display: block;
	padding: 1em 0 0 0;
	line-height: 1.8em;
}
.eq-grid p{
	font-family: Arial, sans-serif;
	color: #777;
	font-size: 0.875em;
	display: block;
	padding: 1em 0;
	line-height: 1.8em;
	border-bottom: 1px dashed rgba(0, 0, 0, 0.06);
}
/*---services----*/
.service-content h3{
	font-family: 'Open Sans', sans-serif;
	padding: 15px 0px;
	color: #303030;
	font-size: 1.5em;
	text-transform: uppercase;
}
.service-content ul li{
	display: block;
}
.service-content ul li span{
	width: 5%;
	float: left;
	font-size: 3em;
	color: #303030;
	font-family: 'Open Sans', sans-serif;
}
.service-content ul li p{
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	font-size: 0.875em;
	padding: 5px 0 10px 0;
	line-height: 1.8em;
}
.service-content ul li p a{
	font-size: 1.2em;
	color: #303030;
	font-family: 'Open Sans', sans-serif;
	display: block;
}
.service-content{
	float:left;
	width: 74.5%;
}
.service-content ul{
	padding-bottom:5px;
}
.services-sidebar{
	float:right;
	width:23%;
}
.services-sidebar h3{
	font-family: 'Open Sans', sans-serif;
	padding: 15px 0px;
	color: #303030;
	font-size: 1.5em;
	text-transform: uppercase;
}
.services-sidebar ul li a{
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.875em;
	color: #333;
	padding: 2px 0px 5px 0px;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.services-sidebar ul li a:hover{
	color: #333;
}
.services-sidebar ul li {
	border-bottom: 1px dashed rgba(192, 192, 192, 0.33);
	background: url(../images/marker.png) 0 15px no-repeat;
	padding: 9px 13px 8px 23px;
}
.services {
	margin-top: 30px;
	margin-right: 0;
	margin-bottom: 30px;
	margin-left: 0;
}
/*---start-gallery---*/
.gallerys {
	margin:70px 0px 30px 0px;
}
.gallerys h3{
	font-family: 'Open Sans', sans-serif;
	padding: 15px 0px;
	color: #303030;
	font-size: 1.5em;
	text-transform: uppercase;
}
.gallery-grid{
	width: 31.44%;
	float:left;
}
.gallery-grid p {
	font-size: 0.875em;
	padding: 0.2em 0em 1.2em 0em;
	color: #535353;
	line-height: 1.8em;
	font-family: Arial, Helvetica, sans-serif;
}
.gallery-button a {
	color: #FFF;
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.875em;
	display: block;
	-moz-transition: background 0.3s ease-out;
	-o-transition: background 0.3s ease-out;
	-webkit-transition: background 0.3s ease-out;
	transition: all 0.3s ease-out;
	width: 30%;
	background-color: #666;
	background-image: url(../images/icon1.png);
	background-repeat: no-repeat;
	background-position: 100% -0%;
}
.gallery-button a:hover {
	background: url(../images/icon1h.png) no-repeat 100% -0% #DC483A;
}
.grid2{
	margin: 0px 35px;
}
.gallery-grids {
	margin-bottom: 30px;
}
.projects-bottom-paination ul li{
	display:inline-block;
}
.projects-bottom-paination{
	text-align: center;
	padding-top: 55px;
}
.projects-bottom-paination li a{
	font: 400 12px/1.2em Arial;
	color: #5a5a5a;
	padding: 11px 18px;
	background: #fff;
	text-decoration: none;
	text-shadow: none;
	border: 1px solid #e9e9e9;
	margin-top: 16px;
}
.projects-bottom-paination li.active> a, .projects-bottom-paination li> a:hover {
	background: #DC483A;
	color:#fff;
}
.gallery-grid h4{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #303030;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	padding: 13px 0px 2px 0px;
}
.gallery-grid h4:hover{
	color:#0d2162;
}
/*  Contact Form  ============================================================================= */
.contact{
	margin-top:70px;
}
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.col{
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child{
	margin-left:0;
}	
.span_2_of_3 {
	width: 63.1%;
	padding:1.5%; 
}
.span_1_of_3 {
	width: 29.2%;
	padding:1.5%; 
}
.span_2_of_3  h3,
.span_1_of_3  h3 {
	font-family: 'Open Sans', sans-serif;
	padding: 15px 0px;
	color: #303030;
	font-size: 1.5em;
	text-transform: uppercase;
}
.contact-form{
	position:relative;
	padding-bottom:30px;
}
.contact-form div{
	padding:5px 0;
}
.contact-form span{
	display:block;
	font-size:0.875em;
	color: #454545;
	padding-bottom:5px;
	font-family: 'Open Sans', sans-serif;
}
.contact-form input[type="text"],.contact-form textarea{
		    padding:8px;
			display:block;
			width:98%;
			border: none;
			outline:none;
			color:#303030;
			font-size:0.8125em;
			font-family:Arial, Helvetica, sans-serif;
			border: 1px solid rgba(192, 192, 192, 0.41);
			-webkit-appearance:none;
}
.contact-form textarea{
		resize:none;
		height:120px;		
}
.contact-form input[type="submit"]{
	border:none;
	cursor:pointer;
	color: #FFF;
	background: url(../images/icon1.png) no-repeat 100% -0% #303030;
	padding: 10px 50px 10px 10px;
	font-family: 'Open Sans', sans-serif;
	font-size:1em;
	display: block;
	-moz-transition: background 0.3s ease-out;
	-o-transition: background 0.3s ease-out;
	-webkit-transition: background 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.contact-form input[type="submit"]:hover{
	background: url(../images/icon1h.png) no-repeat 100% -0% #DC483A;
}
.contact-form input[type="submit"]:active{
	background: url(../images/icon1h.png) no-repeat 100% -0% #DC483A;
}
.company_address{
}
.company_address p{
	font-size: 0.875em;
	color: #6a6a6a;
	line-height: 1.8em;
	font-family: Arial, Helvetica, sans-serif;
}
.company_address p span{
	text-decoration:underline;
	color:#454545;
	cursor:pointer;
}
.map{
	margin-bottom:15px;
}

/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 800 PIXELS */

@media only screen and (max-width: 800px) {
	.wrap{
		width:95%;
	}
	.span_2_of_3 {
		width:94%;
		padding:3%; 
	}
	.col{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:94%;
		padding:3%; 
	}
}

/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap{
		width:95%;
	}
	.span_2_of_3 {
		width:94%;
		padding:3%; 
	}
	.col{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:94%;
		padding:3%; 
	}
   
   .contact-form input[type="text"],.contact-form textarea{
		width:97%;
	}
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.span_2_of_3 {
		width:90%;
		padding:5%; 
	}
	.col { 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:90%;
		padding:5%; 
	}
	.contact-form input[type="text"],.contact-form textarea{
		width:92%;
	}
}
.contact-footer{
	border-top: 1px solid rgba(69, 69, 69, 0.13);
	padding: 28px 0px 0px 0px;
}
/*----responsive-design-----*/
@media only screen and (max-width: 1366px) and (min-width: 1280px) {
	.wrap{
		width:90%;
	}
	.gallery-grid {
		width: 31.3%;
	}
}
@media only screen and (max-width: 1280px) and (min-width: 1024px) {
	.wrap{
		width:90%;
	}
	.gallery-grid {
		width: 31%;
	}
	.about-histore ul li p {
		width: 89%;
	}
	.service-content ul li span {
		width: 6.5%;
		font-size: 2.5em;
		height: 57px;
	}
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
	.wrap{
		width:90%;
	}
	.gallery-grid {
		width: 30%;
	}
	.about-histore ul li p {
		width: 87%;
	}
	.service-content ul li span {
		width: 6.5%;
		font-size: 2.5em;
		height: 95px;
	}
	.top-nav ul li a {
		padding: 31px 15px;
	}
	.latest-news-info a {
		line-height:0em;
	}
	.button {
		width: 41%;
	}
	.about-sidebar {
		width: 27%;
	}
	.gallery-button a {
		width: 43%;
	}
}
@media only screen and (max-width: 768px) and (min-width: 640px) {
	.wrap{
		width:90%;
	}
	.gallery-grid {
		width: 30%;
	}
	.about-histore ul li p {
		width: 87%;
	}
	.service-content ul li span {
		width: 6.5%;
		font-size: 2.5em;
		height: 95px;
	}
	.top-nav ul li a {
		padding: 31px 5px;
	}
	.latest-news-info a {
		line-height:0em;
	}
	.button {
		width: 17%;
	}
	.about-sidebar {
		width: 27%;
	}
	.gallery-button a {
		width: 43%;
	}
	.mid-grid {
		float: none;
		width:100%;
		margin: 0 0 1em 0;
	}
	.about-left {
		width: 100%;
		float: none;
	}
	.about-sidebar {
		float: none;
		width: 100%;
	}
	.tips-left {
		width: 100%;
		float: none;
		padding-right: 0%;
	}
	.tips-right {
		float: none;
		width: 100%;
	}
	.eq-grid {
		float: none;
		width: 100%;
		margin-right: 0%;
	}
	.service-content {
		float: none;
		width: 100%;
	}
	.services-sidebar {
		float: none;
		width: 100%;
	}
	.gallery-grid {
		width:100%;
		float: none;
		margin:0 0 1em 0;
	}
}
