@font-face{
  font-family: myFont;
  src: url(VarelaRound-Regular.ttf);
}

body{
    background-color: #f1f1f1!important; */
    color:#707B7C;
    overflow-x:hidden !important;
  }
html,body,h1,h2,h3,h4,h5,h6,p,a,td,tr,table{
    font-family:myFont;
  }
h1,h2,h3,h4,h5,h6{
  color:#17a2b8!important;
}
p,td,li{
  color:#777!important;
}
.carousel-inner > .carousel-item > img {
          /* width:640px; */
          height:400px;
          }
.jumbotron{
  border-radius:0;
  padding:15px 0;

}
.card-title, .page-title{
  font-size:25px;
  font-weight:bold;
  color:#adadad;
  text-transform:uppercase;
}
.card{
  margin-bottom:10px;
  margin-top:-5px;
  border-radius:0;

}
.page-title{
  color:#707B7C;
  font-weight:bold;
  font-family:myFont;

}
.page-content{
  text-align:justify;
  font-family:myFont;
  min-height:480px;
}
.nav-link{
  color:#fafafa!important;
}
.nav-item{
  margin-left:15px;
}
.dropdown-menu{
  background-color:#17A2B8;
  min-width:280px;
  padding-top:0px;
  padding-bottom:0px;
  border-radius: 0px;
}
.dropdown-menu li > a,.dropdown-menu a {
  padding:12px;
  color:#FAFAFA;
  border-bottom:1px solid #FAFAFA;
}
#go-tab .nav-link,#home-tab .nav-link{
  color:#17a2b8!important;
}
.breadcrumb{
  margin-top:10px;
  background-color:#AED6F1;
}
.footer1 p,.footer2 p
{
  color:#fafafa!important;
}
p.footer-title{
  color:#563d7c!important;
  font-weight:bold;
  text-decoration:underline;
  padding-bottom:5px;
}
.address{
  font-size:14px;
}



.navbar-light .navbar-nav .nav-link {
    color: rgb(64, 64, 64);
}
.btco-menu li > a {
    padding: 10px 15px;
    color: #000;

}

.btco-menu .active a:focus,
.btco-menu li a:focus ,
.navbar > .show > a:focus{
    background: transparent;
    outline: 0;
}


.dropdown-menu .show > .dropdown-toggle::after{
    transform: rotate(-90deg);
}
.flex-slider{
  margin:0 0 0!important;
}
#wrapper{
  background-color:green;
}
