body{
  background:#F8F9F9;
  margin:0;
}

/*  ------------------Menu Bar-------------------*/
.navbar{
   background-color:#2e4b90!important;
   }
.topnav{
  border-bottom:5px solid orange;
}
.bottomnav{
  border-top:5px solid orange;
}
.jumbotron{
  border-radius:0;
  }

.navbar-brand{
  font-weight:600;
  color:#fafafa !important;
  }
.nav-link{
  color:#fafafa !important;
  padding-top:10px;
  margin-left:10px;
}
.nav-link:hover{
  background-color:orange;
  color:grey;
  }

 /* ------------Layout------------------ */
#wrapper{
  background:rgba(109, 144, 227,0.5);
}
.container,.container-fluid{
   padding-top:20px;
   padding-bottom:20px;
}
#register-card,.member-card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
label{
  color:#007bff;
  font-size:14px;
  font-weight:600;
}
.error{
  color:red;
  font-size:12px;
  font-weight:600;
}
.error::before{
  content:" *  ";
}
select,textarea,input[type="text"],.input-group-text,input[type="password"]{
  border-color:rgba(106, 135, 242,0.5)!important;
  border-width:1px !important;
  border-radius:0px !important;
  }
