/* reset */
article, aside, details, figcaption, figure, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	background:#ffffff;
}
/*----start-wrap-----*/


/*---start-gallery---*/
.gallerys {
	font-family: 'Open Sans', sans-serif;
}
.gallerys h3{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	color: #363638;
	text-transform: uppercase;
	padding:1em 0;
}
.gallery-grid{
	width: 30%;
	float:left;
}
.gallery-grid p {
	font-size: 0.875em;
	padding: 0.2em 0em 1.2em 0em;
	color: #6a6a6a;
	line-height: 1.8em;
	font-family: Arial, Helvetica, sans-serif;
}
.gallery-button a {
	color: #FFF;
	font-size: 0.875em;
	text-transform: uppercase;
	padding: 0.8em;
	border: 1px solid #EEE;
	display: inline-block;
	background: #ff711c;
}
.gallery-button a:hover {
	background: #ffcc00;
	color: #FFF;
}
.grid2{
	margin: 0px 35px;
}
.gallery-grids {
	margin-bottom: 30px;
}
.projects-bottom-paination ul li{
	display:inline-block;
}
.projects-bottom-paination{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	padding-top: 15px;
	padding-right: 0;
	padding-bottom: 55px;
	padding-left: 0;
}
.projects-bottom-paination li a{
	font: 400 12px/1.2em Arial;
	color: #5a5a5a;
	padding: 11px 18px;
	background: #fff;
	text-decoration: none;
	text-shadow: none;
	border: 1px solid #e9e9e9;
	margin-top: 16px;
}
.projects-bottom-paination li.active> a, .projects-bottom-paination li> a:hover {
	background: #e61000;
	color:#fff;
	font-size: 14px;
}
.gallery-grid h4{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #363638;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	cursor: pointer;
	padding: 13px 0px 2px 0px;
}
.gallery-grid h4:hover{
	color:#026660;
}
/*---contect----*/
