/* ==== Google font ==== */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);

@import url('font-awesome.css');
/* ==== overwrite bootstrap standard ==== */
@import url('overwrite.css');
@import url('animate.css');



body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:300;
	line-height:1.6em;
	color:#fff;
	background-color:#fff;
	overflow-x:hidden;
}

hi,h2,h3,h4,h5,h6 {
	color:#333;
	line-height:1.1em;
}

p {
	color:#333;
	font-size:13px;
}
a {
    text-decoration:none;
    transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    outline: none;
	color:#333;
}
a:hover {
	text-decoration: none;
	color:#eee;	
	}

.btn-primary {
	padding: 8px 20px;
	background: #ED502E;
	color: #fff;
	border:none;
	margin-top: 20px;
}	

.btn-primary:hover, 
.btn-primary:focus{
  background: #eb8984;
  outline: none;
  box-shadow: none;
} 

.text-center h2 {
	margin-bottom:30px;
}

.text-center p {
	margin-bottom:50px;
	color:#000;
	font-size: 15px;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #fff;
  text-transform:uppercase;
  font-size:18px;
  border-radius:30px;
  margin-left:-10px;
}

.btn-default:hover {
	background-color:#f9f9f9;
	color:#ED502E;
	border-color: #fff;	
}

/*===========================
  Menu and Navigation
============================ */
.navigation  {
	background-color:#fff;
	padding:0;
}

.navbar-brand h1 {
	margin-top:-1px;
	padding-top:5px;
	float: left;	
	font-size: 30px;	
	color:#333;		
}
.navbar-brand h1 span {
	color: #ED502E;
}

.menu {
	font-size:12px;
	float:right;
	text-transform:uppercase;
	font-weight:600;	
}

.menu ul.nav-tabs li {
	color:#000;	
}

.nav-tabs {
	border-bottom: 0;
}
.nav-tabs > li {
	float: left;
	margin-bottom: 0;
}
.nav-tabs > li > a {	
	border-radius:0;
	color:#333;
	padding:30px;
}

.nav-tabs > li > a:hover {	
	color: #ED502E;
	border-color: #fff #fff #fff;
	border-radius:0;
	background-color:#fff; 
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}
.nav-tabs > li > a.active {
	color: #ED502E;
	border-radius:0;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.slider {
	margin-top:-20px;
	margin-right:0px;
	margin-left:-40px;
}


.box {
	margin-top:70px;
	text-align:center;	
	background:#f9f9f9;
}
.box h4 {
	text-transform:uppercase;
	margin-top:50px;
	margin-bottom:80px;
	padding:50px;
}
.box i {
	color:#fff;
	border-radius:50%;
	padding:20px;
	background:#ED502E;
}
.box i:hover {
	color:#ED502E;
	background:#fff;
}

/*===========================
 Feature
============================ */
.features p {
	margin-bottom:70px;
	color:#333;
}

.main-feature {
	padding-bottom:50px;
	padding-top:20px;
}

.main-feature .media {
	margin-top:30px;
	margin-bottom:30px;
}

.main-feature .media p {
	margin-top:20px;
	margin-bottom:30px;
	color:#333;
}

.main-feature .media i {
	border-radius:50%;
	padding:20px;
	background:#ED502E;
	color:#fff;
}

.main-feature .text-center {
	background:#fD502E;
	padding:5px;
	margin-top:5px;
}

.main-feature .text-center h2,p {
	color:#fff;
}

.main-feature .text-center p {
	color:#fff;
}
/*===========================
	about-us
============================ */

.about-us {
	background:#f9f9f9;
	margin-top:-20px;
	padding-top:10px;
	padding-bottom:5px;
}

.about-us img {
	margin-top:50px;
	border-radius:20%;
	margin-bottom:20px;
}

/*===========================
	services
============================ */
.services {
	background:#f9f9f9;
	margin-top:-50px;
	padding-top:40px;
	padding-bottom:15px;
}

.services img {
	margin-top:50px;
	border-radius:50%;
	margin-bottom:20px;
}

.services-box i {
	padding:50px;
	margin-top:30px;
	margin-bottom:40px;
	border-radius:50%;
}
.services-box i.fa-rocket {
	background-color: #00abf0;	
}
.services-box i.fa-cogs {
	background-color: #02FE7C;	
}
.services-box i.fa-eye {
	background-color: #0077b5;	
}

.services-box h4 {
	margin-bottom:20px;
}

.skills {
	margin-top:15px;
}

.skill {
	margin-top:20px;
	margin-bottom:10px;
	padding-bottom:10px;
}

.skill h2{
  margin-bottom: 25px;
}

.progress-wrap{
  position: relative;
}

.progress .color1,
.progress .color1 .bar-width{
  background: #2d7da4;
}

.progress .color2,
.progress .color2 .bar-width{
  background: #6aa42f;
}

.progress .color3,
.progress .color3 .bar-width{
  background: #ffcc33;
}

.progress .color4,
.progress .color4 .bar-width{
  background: #db3615;
}

.progress, 
.progress-bar {
  height: 50px;
  line-height: 20px;
  background: #e6e6e6;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  overflow: visible;
  text-align: right;
}

.progress{
  position: relative;
}

.progress .bar-width{
  position: absolute;
  width: 40px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  top: -30px;
  border-radius: 2px;
  margin-left: -30px;
}

.progress span{
  position: relative;
}

.progress span:before{
  content: " ";
  position: absolute;
  width: auto;
  height: auto;
  border-width: 8px 5px;
  border-style: solid;
  bottom: -15px;
  right: 8px;
}

.progress .color1 span:before{
  border-color: #2d7da4 transparent transparent transparent;
}

.progress .color2 span:before{
  border-color: #6aa42f transparent transparent transparent;
}

.progress .color3 span:before{
  border-color: #ffcc33 transparent transparent transparent;
}

.progress .color4 span:before{
  border-color: #db3615 transparent transparent transparent;
}

.services-skill {
	margin-top:30px;
	margin-bottom:50px;
	padding-bottom:50px;
}

/*===========================
	blog
============================ */
#blog {
	margin-top:5px;
}

.widget {
  margin-bottom: 60px;
  padding-left: 0;
}

.single_comments {
  margin-bottom: 20px;
}

.single_comments img {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

.single_comments p {
  margin-bottom: 0;
}

.widget .entry-meta span {
  display: inline-block;
  margin-right: 10px;
}

.widget h3 {
  color: #000;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.blog_category{
  list-style:none;
  margin:0;
  padding:0;
}

.blog_category li{
  float:none;
  margin-bottom:20px;
}

.blog_category li a {
  background:#f5f5f5;
  border-radius: 4px;
  color: #888;
  display: inline-block;
  padding: 5px 15px;
}

.blog_category li a:hover{
  background:#ED502E;
  color: #fff;
}

 .badge:before {
  border-color: transparent transparent transparent #ED502E;
  border-style: solid;
  border-width: 10px;
  bottom: -8px;
  content: "";
  height: 0;
  left: 5px;
  position: absolute;
  z-index: -99999;
}

.badge {
  background-color: #ED502E;
  border-radius: 5px;
  color: #fff;
  padding: 8px;
  position: relative;
  left: 60px;
  top: -18px;
  font-weight: normal;
}

.blog_archieve {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.blog_archieve li {
  padding: 10px 0;
  border-bottom: 1px solid #f5f5f5;
}

.blog_archieve li:first-child {
  padding-top: 0;
}

ul.gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.gallery li {
  display: block;
  width: 60px;
  padding: 0;
  margin: 0 4px 4px 0;
  float: left;
}

ul.faq {
  list-style: none;
  margin: 0;
}

ul.faq li {
  margin-top: 30px;
}

ul.faq li:first-child {
  margin-top: 0;
}

ul.faq li span.number {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #34495e;
  color: #fff;
  font-size: 24px;
}

ul.faq li > div {
  margin-left: 70px;
}

ul.faq li > div h3 {
  margin-top: 0;
}


.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blog-item {
	border-radius: 0;
	overflow: hidden;
	margin-bottom: 15px;
}

.blog .blog-item .img-blog {
  border-radius: 5px;
  margin-bottom: 45px;
}

.blog .blog-item .blog-content {
  padding-bottom: 25px;
}

.blog .blog-item .blog-content h2 {
  margin-top: 0;
  font-size: 30px;
}

.readmore{
  margin-top: 0;
}

.blog .blog-item .blog-content h4 {
	color: #858586;
	margin-bottom: 20px;
  /* font-weight: 300 */}

.blog .blog-item .blog-content p {
  font-size: 13px;
  color:#858586;
}

.blog .blog-item .entry-meta {
  border-radius: 5px;
  overflow: hidden;
}

.blog .blog-item .entry-meta > span {
  background: #f5f5f5;
  border-top: 1px solid #fff;
  display: block;
  font-size: 12px;
  overflow: hidden;
  padding: 5px;
  text-align: left;
}

#publish_date {
	background: #ED502E;
	border-bottom: 5px solid #4e4e4e;
	color: #fff;
	padding: 5px 0;
	text-align: center;
	font-size: 14px;
}

.blog .blog-item .entry-meta > span {
  color: #ccc;
}

.blog .blog-item .entry-meta > span a {
  font-size: 12px;
  margin-left: 3px;
  font-weight: 300;
  color: #888;
}

ul.pagination > li > a {
  border: 1px solid #F1F1F1;
  margin-right:5px;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 14px;
}

ul.pagination > li > a i{
  margin-left:5px;
  margin-right:5px;
}

ul.pagination > li.active > a, 
ul.pagination > li:hover > a {
  background-color: #ED502E !important;
  border-color: #ED502E !important;
  color: #fff;
}

.search_box {
  background-image: url("../images/search_icon.png");
  background-position: 314px 15px;
  background-repeat: no-repeat;
  border-color: #DEDEDE;
  height: 48px;
  outline: medium none;
  box-shadow: none;
}

.form-control:focus {
  box-shadow:none;
  outline: 0 none;
}

ul.tag-cloud, 
ul.sidebar-gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tag-cloud li{
    display: inline-block;
    margin-bottom: 3px;
}

.tag-cloud li a {
  background: #f5f5f5;
  color: #888;
  border: 0;
  border-radius: 4px;
  padding: 8px 15px;
}

.tag-cloud li a:hover{
  background:#ED502E;
  color: #fff;  
}

.sidebar-gallery li{
  display: inline-block;
  margin: 0 10px 10px 0;
}

.sidebar-gallery li a {
  border-radius: 4px;
  display: inline-block;
}

/*===========================
	portfolio
============================ */
.recent-work-wrap {
  position: relative;
}

.recent-work-wrap img{
  width: 100%;
}

.recent-work-wrap .recent-work-inner{
  top: 0;
  background: transparent;
  opacity: .8;
  width: 100%;
  border-radius: 0;
  margin-bottom: 0;
}

.recent-work-wrap .recent-work-inner h3{
  margin: 10px 0;
}

.recent-work-wrap .recent-work-inner h3 a{
  font-size: 24px;
  color: #fff;
}

.recent-work-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 0;
  background: #ED502E;
  color: #fff;
  vertical-align: middle;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;  
  padding: 30px;
}

.recent-work-wrap .overlay .preview {
  bottom: 0;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  border-radius: 0;
  background: transparent;
  text-align: center;
  color: #fff;
}

.recent-work-wrap:hover .overlay {
  opacity: 1;
}

#portfolio {
	margin-top: 20px;
	margin-bottom:50px;
}

.portfolio-items, 
.portfolio-filter {
  list-style: none outside none;
  margin: 0 0 40px 0;
  padding: 0;
}

.portfolio-filter > li {
  display: inline-block;
}

.portfolio-filter > li a {
  background: none repeat scroll 0 0 #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  margin-right: 20px;
  text-transform: uppercase;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  border: 1px solid #F2F2F2;
  outline: none;
  border-radius: 3px;
}

.portfolio-filter > li a:hover,
.portfolio-filter > li a.active{
  color:#fff;
  background: #ED502E;
  border: 1px solid #ED502E;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.portfolio-items > li {
  float: left;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.portfolio-item {
  margin: 0;
  padding:0;
}

/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

/*===========================
	contact
============================ */
/* --- Map --- */
.map{
	position:relative;
	margin-top:50px;
	margin-bottom:40px;
}

.map iframe{
	width:100%;
	height:350px;
	border:none;
}
.contact {
	margin-top:20px;
}

.contact-info {
	margin-top:20px;
}

.contact-info p {
	color:#333;
	font-size: 14px;
}

.contact-info ul {
	color:#333;
	list-style:none;
	margin-left:-40px;
}

.contact-info ul li {
	margin-top:20px;
	margin-bottom:20px;
	font-size: 14px;
}

.contact-info i {
	color:#eb8984;	
}

.contact-form {
	margin-bottom:80px;
}

.form-group .form-control {
  padding: 7px 12px;
  border-color:#ddd;
  box-shadow: none;
}

textarea.form-control {
	box-shadow: none;
	border-color:#ddd;
	border-radius:0;
}

/*===========================
	footer
============================ */
.footer {
	background:#292929;
	padding:2px;
}

.footer p {
	margin-top:-8px;
	font-size:13px;
	line-height:30px;
}

.footer h2 {
	color:#fff;
	margin-bottom:50px;
	font-size:20px;
}

ul.social-network {
	margin-top:30px;
	transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

ul.social-network li {
	display:inline;
	font-size: 14px;
	margin-right:10px;
	
}
ul.social-network li a {	
	color:#d0d0d0;
	padding:5px 10px;
	background:#000;
	border-radius:50%;
}

.social-network li:hover .fa-twitter {	
	color: #00abf0;	
}

.social-network li:hover .fa-facebook {
  color: #39579a;
}
.social-network li:hover .fa-google-plus {
  color: #eb8984;
}
.social-network li:hover .fa-pinterest {
  color: #c9171e;
  
}
.social-network li:hover .fa-linkedin {
  color: #0077b5;
  
}
.footer h3 {
	color:#fff;
	margin-bottom:50px;
	font-size:16px;
}
.footer ul {
	text-decoration:none;
	list-style:none;
	margin-left:-40px;
	font-size:13px;
}
.footer ul li:hover {
	color:#ED502E;
	cursor:pointer;	
}

.sub-footer a {
	color: #fff;
	font-size:13px;	
}

.sub-footer a:hover {
  color: #ED502E;
}

.sub-footer {
	background:#090909;
	padding:30px;
}
.sub-footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.sub-footer ul > li {
  display: inline-block;
  color:#fff;
  font-size:13px;
  margin-right:30px;
}

a.scrollup{
	color:#fff;
	height:40px;
	width:40px;
	font-size:13px;
	line-height:30px;
	text-align:center;
	text-decoration:none;
	position:fixed;
	bottom:20px;
	right:40px;
	opacity:0,5;
	border-radius:50%;
	z-index:999;
}
a.scrollup:hover{
	opacity:1;
	background-color:#ED502E;
	color:#fff;;	
}
